out/
platform/gen/
platform/res/www/
platform/user_data/businessmodel/
platform/user_data/space.xml
platform-ui/gen/
platform-ui/node_modules
platform/user_data/datawarehouse/
.DS_Store
.intino
unit/package.json
unit/pom.xml
unit/gen/
unit/node_modules/
unit-elements/gen/
unit-elements/node_modules
unit-elements/pom.xml
.idea/workspace.xml
.idea/uiDesigner.xml
.idea/codeStyles
.idea/libraries/