platform-ui/node_modules
.chunk.css
platform/res/www/api/static/css/1.f76cd8e8.chunk.css
platform/res/www/api/static/css/1.f76cd8e8.chunk.css.map
platform/res/www/api/static/css/main.4e11ef33.chunk.css
platform/res/www/api/static/css/main.4e11ef33.chunk.css.map
platform/res/www/api/static/js/1.975e448c.chunk.js
platform/res/www/api/static/js/1.975e448c.chunk.js.map
platform/res/www/api/static/js/main.6710e854.chunk.js
platform/res/www/api/static/js/main.6710e854.chunk.js.map
platform/res/www/api/static/js/runtime~main.4a686d48.js
platform/res/www/api/static/js/runtime~main.4a686d48.js.map
out
