<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="MONET_MAIL_ADMIN_FROM"/>
<entry key="MONET_MODEL_TYPE">OFFICE</entry>
<entry key="MONET_BUSINESS_MODEL_NODE_IMPORTER_MAIN_FILENAME">main.xsl</entry>
<entry key="MONET_SERVICES_REQUEST_MAX_ELAPSED_TIME">120000</entry>
<entry key="MONET_MAIL_ADMIN_SECURE">true</entry>
<entry key="MONET_DATAWAREHOUSE_UPGRADE_HOUR">4</entry>
<entry key="MONET_SOURCE_UPGRADE_LAUNCH_ON_START">false</entry>
<entry key="MONET_DATAWAREHOUSE_UPGRADE_LAUNCH_ON_START">true</entry>
<entry key="MONET_SIMPLE_FIELD_PATTERN">.\\[(.*)\\]</entry>
<entry key="MONET_DEFAULT_APPLICATION">office</entry>
<entry key="MONET_DATABASE_QUERY_EXECUTION_TIME_WARNING">3000</entry>
<entry key="MONET_COMPONENT_DEFINITION_FILENAME">component.xml</entry>
<entry key="MONET_IS_PUSH_ENABLED">true</entry>
<entry key="MONET_MAIL_ADMIN_TO"/>
<entry key="MONET_MAIL_ADMIN_PORT">465</entry>
<entry key="MONET_BUSINESS_MODEL_DATASOURCE_FILENAME">datasource</entry>
<entry key="MONET_INDICATOR_NODE_LINK">&lt;indicator[^&gt;]*code="nodelink"[^&gt;]*&gt;([^&lt;]*)&lt;/indicator&gt;</entry>
<entry key="MONET_MULTIPLE_FIELD_PATTERN">.\\[(.*)\\]\\[(.*)\\]</entry>
<entry key="MONET_DATAWAREHOUSE_DIR"/>
<entry key="MONET_CERTIFICATE_PASSWORD">1234</entry>
<entry key="MONET_CERTIFICATE_FILENAME">businessunit-viasyobras.p12</entry>
<entry key="MONET_ENCRIPT_PARAMETERS">false</entry>
<entry key="MONET_SOURCE_UPGRADE_HOUR">3</entry>
<entry key="MONET_SERVICES_BASE_URL">http://127.0.0.1:9000</entry>
<entry key="MONET_APPLICATION_DEFINITION_FILENAME">application.xml</entry>
<entry key="MONET_MAIL_ADMIN_PASSWORD"/>
<entry key="MONET_WORKQUEUE_PERIOD">1</entry>
<entry key="MONET_COMPONENT_DOCUMENTS_MONET_URL">http://localhost:8080/docservice</entry>
<entry key="MONET_RUN_BUSINESS_UNIT">true</entry>
<entry key="MONET_BUSINESS_MODEL_PACKAGES_PATH">org.monet.businessmodel</entry>
<entry key="MONET_MAIL_ADMIN_USERNAME"/>
<entry key="MONET_BUSINESS_MODEL_THESAURUS_SEPARATOR">/</entry>
<entry key="MONET_MAIL_ADMIN_HOST">smtp.gmail.com</entry>
<entry key="MONET_USE_SSL">false</entry>
<entry key="MONET_TRANSLATOR_DEFINITION_FILENAME">translator.xml</entry>
<entry key="MONET_MOBILE_PUSH_API_KEY">AIzaSyBG6uhpiu7wxOzDH5qH08ZXe9WoMYWVwoE</entry>
<entry key="MONET_BUSINESS_MODEL_DATASOURCE_ITEM_SEPARATOR">,</entry>
<entry key="MONET_BUSINESS_MODEL_NODE_EXPORTER_MAIN_FILENAME">main.xsl</entry>
<entry key="MONET_BUSINESS_MODEL_DEFINITIONS_DICTIONARY_FILENAME">dictionary.xml</entry>
<entry key="MONET_USER_DATA_DIR">/Users/mcaballero/.monet-3.2</entry>
<entry key="MONET_IS_DEBUG_MODE">false</entry>
<entry key="MONET_BUSINESS_MODEL_HELP_NOT_FOUND_FILENAME">_not_found.html</entry>
<entry key="Jdbc.DataSource">jdbc/MonetDatabaseSource</entry>
<entry key="Jdbc.Type">mysql</entry>
<entry key="Jdbc.DataSource">jdbc/MonetDatabaseSource</entry>
<entry key="Jdbc.Url">jdbc:mysql://localhost:3306/monet-3.2?autoReconnect=true</entry>
<entry key="Jdbc.User">root</entry>
<entry key="Jdbc.Password"></entry>
</properties>
